
<style> 

	/* Styling Body-part */ 
	.body-part { 
		width: 600px; 
		height: 200px; 
		border: 3px solid black; 
		overflow: auto; 
	} 
	
	h2 { 
		color: green; 
	} 
	
	/* Justifying Content text */ 
	p { 
		text-align: justify; 
		margin: 40px; 
	} 
	
	/* Styling icons */ 
	.icon-list { 
		position: fixed; 
		top: 242px; 
		right:40%; 
		transform: translateY(-50%); 
		
	} 
	
	.icon-list a { 
		display: block; 
		text-align: center; 
		padding: 8px; 
		transition: all 0.5s ease; 
		color: white; 
		font-size: 20px; 
		float:right; 
	} 
	
	/* HOver affect on icons */ 
	.icon-list a:hover { 
		color: #000; 
		width:50px; 
	} 

	/* Desingning each icons */ 
	.instagram { 
		background: #3f729b; 
		color: white; 
	} 
	
	.facebook { 
		background: #3b5998; 
		color: white; 
	} 
	
	.twitter { 
		background: #00acee; 
		color: white; 
	} 
	.linkedin { 
		background: #0e76a8; 
		color: white; 
	} 
	
	.google { 
		background: #db4a39; 
		color: white; 
	} 
	
	.youtube { 
		background: #c4302b; 
		color: white; 
	} 
</style> 
